nav {
  background-color: #65686b;
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2c3e50;
  color: white;
  padding: 40px;
  text-align:center;
}

.hero-text {
    font-style: italic;
  max-width: 450px;
}

.profile-pic {
  width: 240px;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 15px;
  border: 4px solid white;
}





section {
  background-color: rgba(255, 255, 255, 0.895);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #2c3e50;
}

ul {
  padding-left: 20px;
}

p, li {
  line-height: 1.6;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.logo-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.logo-card:hover {
  transform: translateY(-5px);
}

.logo-card img {
  inline-size: 60px;
  block-size: 50px;
  margin-block-end: 10px;
}

.logo-card p {
  font-weight: 600;
}
.hero-flex {
  display: flex;
  align-items: center;
  
  gap: 30px;

  min-height: 320px;

  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  padding: 40px;
}


.hero-quote {
  max-width: 450px;
  font-size: 1.1rem;
  font-style: italic;
  color: #e0e0e0;
  text-align: right;
padding-left: 450px;
}


@media (max-width: 768px) {

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  header {
    padding: 25px;
  }

  section {
    margin: 10px;
  }
  .hero-flex {
    flex-direction: column;
    text-align: center;
  }
  .hero-quote {
    text-align: center;
    margin-top: 20px;
  }
.profile-pic {
    width: 180px;
    height: 220px;
  }
}
